*{
  padding: 0;
  margin: 0;
}

body{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

#wrapper{
  overflow: hidden;
}

.full{
  width: 100%;
}

.showMobile{
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.desktop{
  display: none;
  @media screen and (min-width: 991px) {
    display: block;
  }
}

.header{
  .top{
      padding: 10px 0;
      @media screen and (max-width: 768px) {
        padding: 0;
      }
      .mobile{
        background-color: #f0f0f0;
        position: relative;
        .navbar-toggler{
          position: absolute;
          height: 100%;
          border-radius: 0;
          background: #034e97 url(../images/burger.png) no-repeat center;
        }
        .logo{
          margin-left: 15%;
          padding: 15px 20px;
          img{
            width: 200px;
          }
        }
      }
  }
  .menu-wrapper{
    background-color: #034e97;
    .navbar{
      background-color: #034e97 !important;
      a{
        color: rgba(255, 255, 255, 0.5);
        font-family: Helvetica;
        font-size: 14px;
        &:hover{
          color: #fff;
        }
        &.active{
          color: #fff;
        }
      }
    }
    .right-menu{
      .navbar-nav{
        a{
          width: 100px;
          text-align: center;
          color: #fff;
          text-transform: uppercase;
          border: 1px solid #fff;
          margin-right: 20px;
          padding: 5px;
          font-size: 14px;
          &:last-child{
            margin-right: 0;
            border-color: transparent;
            background-color: #43a234;
          }
        }
      }
      
    }
  }
}


.slider-wrapper{
  .single-item{
    .slick-list{
      .block{
        position: relative;
        &:before{
          content:'';
          background: rgba(120, 159, 133, 0.48);
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 100%;
        }
        .img{
          @media screen and (max-width: 420px) {
            img{
              height: 576px;
              object-fit: cover;
            }
          }
        }
        .column{
          position: absolute;
          top: 12%;
          left: 0;
          right: 0;
          text-align: center;
          margin: auto;
          @media screen and (min-width: 991px) {
            width: 70%;
          }
          h1{
            text-transform: uppercase;
            color: #fff;
            font-weight: 600;
          }
          button{
            background-color: #43a234;
            text-transform: uppercase;
            font-size: 12px;
            font-family: Helvetica;
            font-weight: 700;
            color: #fff;
            width: 170px;
            height: 40px;
            text-align: left;
            position: relative;
            margin-top: 30px;
            i{
              position: absolute;
              right: 8px;
              top: 13px;
            }
          }
        }
      }
    }
    .slick-prev{
      background: url(../images/arrow-slider.png) no-repeat;
      position: absolute;
      left: 10%;
      z-index: 1;
      width: 20px;
      height: 30px;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      text-indent: -9999px;
      top: 33%;
      @media screen and (max-width: 568px) {
        left: 5px;
        top: 30%;
      }
    }
    .slick-next{
      background: url(../images/arrow-slider.png) no-repeat;
      position: absolute;
      right: 10%;
      z-index: 1;
      width: 20px;
      height: 30px;
      text-indent: -9999px;
      top: 33%;
      @media screen and (max-width: 568px) {
        right: 5px;
      }
    }
    .slick-dots{
      bottom: 50px;
      li{
        margin: 0 10px;
        width: 15px;
        height: 15px;
        list-style: none;
        &.slick-active{
          button{
            background: #fff;
          }
        }
        button{
          text-indent: -9999px;
          border: 1px solid #fff;
          border-radius: 50%;
        }
      }
    }
  }
}

.content-wrapper{
  margin-top: 50px;
  .title{
    color: #4a4a4a;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 7.8px;
    text-transform: uppercase;
    text-align: center;
  }
  .subtitle{
    text-align: center;
    color: #9b9b9b;
    font-size: 18px;
    line-height: 28px;
  }
  .column{
    margin: 50px 0;
    .block{
      margin-bottom: 50px;
      .imgx{
          padding-right: 0;
      }
      .name{
        margin-bottom: 20px;
        color: #034e97;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
      }
      .desc{
        color: #4a4a4a;
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
}

.flow-wrapper{
  background-color: #003363;
  padding: 50px 0;
  .title{
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 7.8px;
    text-transform: uppercase;
  }
}

.diklat-wrapper{
  padding: 5% 0;
  .tops{
    .title{
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 7.8px;
      text-transform: uppercase;
    }
    .more{
      @media screen and (min-width: 768px) {
        text-align: right;
      }
      a{
        color: #2879d9;
        font-family: Helvetica;
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
      }
    }
  }
  .list-diklat{
    margin-top: 40px;
    .single-item2{
      .slick-prev{
        left: 10px;
        z-index: 9;
      }
     .slick-next{
        right: 10px;
      }
    }
    .block{
      border-radius: 0 0 4px 4px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      @media screen and (max-width: 568px) {
        margin-bottom: 40px;
      }
      @media screen and (min-width: 768px) {
        width: 31%;
        margin-right: 2%;
        display: inline-block;
        &:last-child{
          margin-right: 0;
        }
      }
      &:hover{
        box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.41);
      }
      .img{
        object-fit:cover;
      }
      .content{
        padding: 10px 15px;
        .cat{
          a{
            color: rgba(0, 0, 0, 0.5);
            font-family: Helvetica;
            font-size: 14px;
            font-weight: 700;
            line-height: 22px;
          }
        }
        .title-post{
          a{
            color: rgba(0, 0, 0, 0.9);
            font-family: Helvetica;
            font-size: 20px;
            font-weight: 700;
            line-height: 26px;
          }
        }
        .btm{
          margin-top: 20px;
          .author-name{
            color: rgba(0, 0, 0, 0.5);
            font-family: Helvetica;
            font-size: 14px;
            font-weight: 700;
            line-height: 40px;
          }
          .author{
            background: #f2f2f2;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            i{
              color: #b5b5b5;
            }
          }
          .bookmark{
            text-align: center;
            i{
              color: #b5b5b5;
            }
          }
        }
      }
    }
  }
}

.footer{
  background-color: #4a4a4a;
  height: 50px;
  display: flex;
  align-items: center;
  @media screen and (max-width: 568px) {
    height: 80px;
  }
  .copy{
    text-align: center;
    color: #f0f0f0;
    line-height: 24px;
    font-size: 14px;
  }
}